
 1. wx menu v1
 {
     "button":[
      {
           "name":"约·身边",
           "sub_button":[
            {	
               "type":"view",
               "name":"美食",
               "url":"https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx76e3f8dce097a019&redirect_uri=http%3a%2f%2fwww.yhme.cn%2fyhm%2fpage%2findex.shtml%3falias%3d%e7%be%8e%e9%a3%9f%26bids%3d&response_type=code&scope=snsapi_base&state=yhm#wechat_redirect"
            },
            {	
               "type":"view",
               "name":"出行",
               "url":"https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx76e3f8dce097a019&redirect_uri=http%3a%2f%2fwww.yhme.cn%2fyhm%2fpage%2findex.shtml%3falias%3d%e5%87%ba%e8%a1%8c%26bids%3d&response_type=code&scope=snsapi_base&state=yhm#wechat_redirect"
            },
            {	
               "type":"view",
               "name":"休闲娱乐",
               "url":"https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx76e3f8dce097a019&redirect_uri=http%3a%2f%2fwww.yhme.cn%2fyhm%2fpage%2findex.shtml%3falias%3d%e4%bc%91%e9%97%b2%e5%a8%b1%e4%b9%90%26bids%3d&response_type=code&scope=snsapi_base&state=yhm#wechat_redirect"
            },
            {	
               "type":"view",
               "name":"时尚生活",
               "url":"https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx76e3f8dce097a019&redirect_uri=http%3a%2f%2fwww.yhme.cn%2fyhm%2fpage%2findex.shtml%3falias%3d%e6%97%b6%e5%b0%9a%e7%94%9f%e6%b4%bb%26bids%3d&response_type=code&scope=snsapi_base&state=yhm#wechat_redirect"
            }]
       },
       {
            "name":"惠·热门",
	        "sub_button":[
	        {	
	           "type":"view",
	           "name":"惠·专题",
	           "url":"https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx76e3f8dce097a019&redirect_uri=http%3a%2f%2fwww.yhme.cn%2fyhm%2fpage%2fsubject_list.shtml&response_type=code&scope=snsapi_base&state=yhm#wechat_redirect"
	        },
	        {	
	           "type":"view",
	           "name":"惠·活动",
           	   "url":"https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx76e3f8dce097a019&redirect_uri=http%3a%2f%2fwww.yhme.cn%2fyhm%2fpage%2fhsh.shtml&response_type=code&scope=snsapi_base&state=yhm#wechat_redirect"
	        }]
       },
       {
           "name":"么·卡",
           "type":"view",
           "url":"http://www.yhme.cn/yhm/page/card_list.shtml"
       }]
 }
 
 
 2. wx menu v2
 {
     "button":[
      {
           "name":"找优惠",
           "type":"view",
           "url":"https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx76e3f8dce097a019&redirect_uri=http%3a%2f%2fwww.yhme.cn%2fyhm%2fpage%2fhome.shtml&response_type=code&scope=snsapi_base&state=yhm#wechat_redirect"
       }]
 }